body{
    margin: 0;
    background-color: whitesmoke;
    font-family:sans-serif;
    padding-bottom: -50px;
    }
h1{
    font-family: Optima;
    color: #363636;
   margin-left: 60px; 
}
#menu ul{
    margin: 0;
    background-color: #302929;
    list-style: none;
    height: 35px;
}
#menu ul li{
   display: inline;
}
#menu ul li a{
    padding:  10px 10px; /*padding:altura e largura*/
    display: inline-block;
    color: white;
    text-decoration: none;
}
#menu ul  li a:hover{ /*Botão muda de cor*/
    color: #004d00;
}
li.right{
    float: right;
    padding: 8px ;
    margin-right: 60px;]
    list-style: none;
}
#btnBusca{
background:#302929;
position:relative;
border:0px solid #222;
color:#FFF; 
margin:0 auto;
padding:7px;
border:0 none;
font-size:11px;
font-weight:bold;
text-transform:uppercase;
}
#btnBusca:hover {
background:#99cccc; 
}
input{
    width: 300px;
    height: 30px;
}
#btnSear{
    background:#4169E1;
    border: 0px solid #4169E1;
       color: #FFF; 
}
#btnSear:hover{
   background:#99cccc;  
}
@media screen and (max-width: 768px) {
    li.right{
        margin-top: -3.5px;
        margin-right: 91px;
         list-style: none;
    }
    h1{
        margin-top: 92px;
        font-size:22px;
      text-align: left 945px;
    }
  
    h2{
        margin-top: 55px;
        font-size: 17px;
    }
 
    #btnBusca{
background:#302929;
position:relative;
border:0px solid #222;
color:#FFF; 
margin:0 auto;
padding:7px;
border:0 none;
font-size:11px;
font-weight:bold;
text-transform:uppercase;
}
#btnBusca:hover {
background:#99cccc; 
}
    .submit-lente {
  position:absolute;
  top:0; right:0;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}

.submit-line {
  position: relative;
  width: 200px;
}

.submit-line input {
  width: 100%;
}
    #menu ul li a{
    font-size: 15px;
    padding:  10px 10px; /*padding:altura e largura*/
    display: inline-block;
    color: white;
    text-decoration: none;
}
    #menu ul{
    margin: 0;
    background-color: #302929;
    list-style: none;
    height: 35px;
        width: 600px;
}
}



