body{
 background-color: whitesmoke;
    font-family: sans-serif;
    font
}
h1{
         font-family:Brush Script MT;
    font-size: 60px;
    color:darkorange;
    text-align: center;    
    }
#btnBusca {
background:#302929;
position:relative;
border:0px solid #222;
color:#FFF; 
padding:7px;
border:0 none;
font-size:11px;
font-weight:bold;
text-transform:uppercase;
}
#cab{ /* CSS do formulario*/
    margin-top: -33px;
}
#textBox {
    width:200px;
    padding:4px 5px 5px;   
    height:26px;
    margin-left: 1230px;
}
#cabecalho ul{
    margin: -10px;
    background-color: #302929;
    list-style: none;
    height: 36px;
    width: 1590px;
}
#cabecalho ul li{
    display: inline;
    height: 17px;
}
 #cabecalho ul li a{
    padding:  10px 11px; /*padding:altura e largura*/
    display: inline-block;
    color: white;
    text-decoration: none;
     height: 17px;
}
#cabecalho ul li a:hover{
        color:#99cccc;
}

}
li.rigth{
    width: 280px;
    height: 42px;
    display: inline-block;
}
#btnBusca:hover {
background:#99cccc; 
}
p{
    font-size: 20px;
}
p1{
    font-family:Arial;
    font-size: 20px;
}
ul2{
    color: black;
    font-size: 20px;
}
a {
  font-size: 15px;
}
@media screen and (max-width: 910px) {
    #cabecalho ul  li a:hover{ /*Botão muda de cor*/
    background: #99cccc;
        color:#99cccc;
}
    #cabecalho ul{
        width: 1590px;
    margin: -10px;
    background-color: #302929;
    list-style: none;
    height: 45px;
}
    #cabecalho ul li{
        height: 15px;
    }
    #cabecalho ul li a{
        height: 4px;
        padding-top: 10px 10px;
    }
    li.right{
    display: inline-block;
        margin-left: -20px;
    }
    #textBox {
    width:200px;
    padding:4px 5px 5px;
    height:32px;
    margin-left: 85px;
}
    #cab{ /* CSS do formulario*/
    margin-top: -31px;
        margin-left: 178px;
        height: 42px;
}
    #btnBusca:hover {
background:#99cccc; 
}
}